 .tasks  {
    color: #fff;
  }
  .tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    counter-reset: task-counter;
  }
  .tasks__item {
    display: flex;
    align-items: center;
    gap: 5px;
    counter-increment: task-counter;
  }
  .tasks__item::before {
    content: counter(task-counter) ". ";
    margin-right: 0.5em;
  }
  .tasks__text {
    flex-grow: 1;
  }
  
  .tasks__buttons {
    margin-left: auto;
    display: flex;
    gap: 10px;
  }
  
  .tasks__completed {
    text-decoration: line-through;
    color: grey;
  }
  